.serviceWrapper{
    background-color:  rgb(201, 234, 234);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: rgba(2, 2, 118, 0.823);
    color: white;
    margin: 3px;
    padding: 3px;
    border: 2px solid black;
    height: 50vh;
    width: 50%;
    h1{
        align-items: center;
        color: wheat;
    }
    

    
}